{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center font-weight-bold mb-4 mt-2" style="color: #2F347E; font-size:40px">
            О конкурсе
        </div>
        <div class="row" style="margin-bottom: 32px;">
            <div class="col-lg-3 col-12 mb-4">
                <img src="{% static 'img/minister_image.png' %}" class="rounded mx-auto d-block" alt="..." height="207">
            </div>
            <div class="col-lg-9 col-sm-12 text-lg-left text-center font-weight-normal" style="color: #2F347E; font-size:33px; line-height: 40px;">
                «Студенческое самоуправление» — это открытый конкурс для руководителей нового поколения. Не упустите
                возможность попасть в сообщество лидеров, которые определят будущее России.
            </div>
        </div>
        <div class="card border-0" style="height: 400px;">
            <div class="row h-100">
                <iframe class="mx-auto d-block" width="100%" height="100%" src="https://www.youtube.com/embed/C5UzL2cikW8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="text-justify col-12 text-xxl-center font-weight-light text-justify" style="margin-top:32px; font-size: 20px; font-height: 28px; color: #18191C">
                Cras non magna tincidunt, maximus mauris ac, ornare nisl. Quisque blandit lorem nec erat tempor, at
                tristique lectus rhoncus. Aenean ultrices lacus metus, sit amet rutrum mi tempor vel. Sed nulla nisi,
                imperdiet ac leo id, dictum ultricies lorem. Aliquam erat volutpat. Suspendisse tristique sodales nibh
                sit amet hendrerit. Nam non ipsum sit amet nunc vestibulum lobortis. Donec quis enim ante.

                Nullam porttitor tempor quam, at aliquam leo tempus eu. Ut sed arcu interdum, sagittis dolor id,
                vulputate enim. Praesent sed massa enim. Sed arcu magna, ultricies eget suscipit eget, pretium nec mi.
                Morbi quis ante sem. Fusce et leo arcu. Nulla facilisi. Curabitur quis est pharetra urna euismod rhoncus
                et quis eros. Etiam tincidunt, velit sit amet accumsan ornare, ipsum turpis sagittis tortor, non lacinia
                sapien ex id nibh. In tempus, massa at ultrices maximus, nisl elit rutrum tellus, vel tristique sapien
                orci vel risus. Nam ut dapibus quam, ut consectetur justo. Sed venenatis nunc id consequat tristique. In
                a felis vel justo porttitor laoreet. Aenean non enim leo. Nulla facilisi. In suscipit malesuada enim et
                ultricies.
            </div>
        </div>
        <div class="mb-4 text-center font-weight-bold mb-4 mt-2" style="font-size: 40px; line-height: 48px; color: #2F347E; margin-top: 32px;">
            Треки конкурса
        </div>
        <div class="accordion" id="accordionExample">
            <div class="card mb-2" style="border: 2px solid #2D4AA7">
                <div class="card-header" id="headingOne" style="background-color: #2D4AA7; color: #fff">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #fff; text-transform: uppercase;">
                            Волонтёрство
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        Некоторый заполнитель для первой панели аккордеона. Эта панель отображается по умолчанию
                        благодаря классу <code>.show</code>.
                    </div>
                </div>
            </div>
            <div class="card mb-2" style="border: 2px solid #2D4AA7">
                <div class="card-header" id="headingTwo" style="background-color: #2D4AA7; color: #fff">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: #fff; text-transform: uppercase;">
                            Спортивные мероприятия
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Некоторый заполнитель для второй панели аккордеона. По умолчанию эта панель скрыта.
                    </div>
                </div>
            </div>
            <div class="card mb-2" style="border: 2px solid #2D4AA7">
                <div class="card-header" id="headingThree" style="background-color: #2D4AA7; color: #fff">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: #fff; text-transform: uppercase;">
                            Гражданско-патриотическое воспитание
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        И, наконец, заполнитель для третьей и последней панели аккордеона. По умолчанию эта панель
                        скрыта.
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-2 col-12">
                <img src="{% static 'img/doc.svg' %}" class="ml-lg-0 pl-lg-0 mx-auto d-block" style="height: 177px; width: 152px"
                     alt="doc">
            </div>
            <div class="col-lg-10 text-align col-12">
                <div class="row font-weight-bold text-justify ml-lg-5" style="color:#2A303E; forn-size: 24px; line-height: 32px;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eos et eveniet excepturi iusto laborum libero molestiae, numquam perferendis perspiciatis ratione reiciendis suscipit, tempore tenetur voluptate. Enim repellat repellendus sint!</p>
                </div>
                <div class="row ml-lg-5 text-align" style="color:#2A303E; font-size: 24px; line-height: 32px;">
                    <button type="button" class="btn btn-outline-primary px-5 mx-auto mx-lg-0">Скачать</button>
                </div>
            </div>
        </div>
        <hr>

        <div class="row mt-3">
            <div class="col-lg-2 col-12">
                <img src="{% static 'img/doc.svg' %}" class="ml-lg-0 pl-lg-0 mx-auto d-block" style="height: 177px; width: 152px"
                     alt="doc">
            </div>
            <div class="col-lg-10 text-align col-12">
                <div class="row font-weight-bold text-justify ml-lg-5" style="color:#2A303E; forn-size: 24px; line-height: 32px;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eos et eveniet excepturi iusto laborum libero molestiae, numquam perferendis perspiciatis ratione reiciendis suscipit, tempore tenetur voluptate. Enim repellat repellendus sint!</p>
                </div>
                <div class="row ml-lg-5 text-align" style="color:#2A303E; font-size: 24px; line-height: 32px;">
                    <button type="button" class="btn btn-outline-primary px-5 mx-auto mx-lg-0">Скачать</button>
                </div>
            </div>
        </div>
        <hr>

        <div class="row mt-3">
            <div class="col-lg-2 col-12">
                <img src="{% static 'img/doc.svg' %}" class="ml-lg-0 pl-lg-0 mx-auto d-block" style="height: 177px; width: 152px"
                     alt="doc">
            </div>
            <div class="col-lg-10 text-align col-12">
                <div class="row font-weight-bold text-justify ml-lg-5" style="color:#2A303E; forn-size: 24px; line-height: 32px;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eos et eveniet excepturi iusto laborum libero molestiae, numquam perferendis perspiciatis ratione reiciendis suscipit, tempore tenetur voluptate. Enim repellat repellendus sint!</p>
                </div>
                <div class="row ml-lg-5 text-align" style="color:#2A303E; font-size: 24px; line-height: 32px;">
                    <button type="button" class="btn btn-outline-primary px-5 mx-auto mx-lg-0">Скачать</button>
                </div>
            </div>
        </div>
        <hr>

        <div class="row mt-4 mb-5">
            <a href="{% url "registration" %}" class="btn btn-primary btn-md mx-auto px-5">Регистрация</a>
        </div>
    </div>
{% endblock %}