{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center font-weight-bold mb-4 mt-2" style="font-size: 40px">
            О конкурсе
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'img/minister_image.png' %}" class="rounded" alt="..." height="207">
            </div>
            <div class="col-9 text-md-left">
                «Студенческое самоуправление» — это открытый конкурс для руководителей нового поколения. Не упустите
                возможность попасть в сообщество лидеров, которые определят будущее России.
            </div>
        </div>
        <div class="card border-0">
            <img src="{% static 'img/video_image.png' %}" style="height: 456px" alt="">
        </div>
        <div class="row">
            <div class="col-12 text-md-center">
                Cras non magna tincidunt, maximus mauris ac, ornare nisl. Quisque blandit lorem nec erat tempor, at
                tristique lectus rhoncus. Aenean ultrices lacus metus, sit amet rutrum mi tempor vel. Sed nulla nisi,
                imperdiet ac leo id, dictum ultricies lorem. Aliquam erat volutpat. Suspendisse tristique sodales nibh
                sit amet hendrerit. Nam non ipsum sit amet nunc vestibulum lobortis. Donec quis enim ante.

                Nullam porttitor tempor quam, at aliquam leo tempus eu. Ut sed arcu interdum, sagittis dolor id,
                vulputate enim. Praesent sed massa enim. Sed arcu magna, ultricies eget suscipit eget, pretium nec mi.
                Morbi quis ante sem. Fusce et leo arcu. Nulla facilisi. Curabitur quis est pharetra urna euismod rhoncus
                et quis eros. Etiam tincidunt, velit sit amet accumsan ornare, ipsum turpis sagittis tortor, non lacinia
                sapien ex id nibh. In tempus, massa at ultrices maximus, nisl elit rutrum tellus, vel tristique sapien
                orci vel risus. Nam ut dapibus quam, ut consectetur justo. Sed venenatis nunc id consequat tristique. In
                a felis vel justo porttitor laoreet. Aenean non enim leo. Nulla facilisi. In suscipit malesuada enim et
                ultricies.
            </div>
        </div>
        <div class="text-center font-weight-bold mb-4 mt-2" style="font-size: 40px">
            Треки конкурса
        </div>
        <div class="text-center font-weight-bold mb-4 mt-2" style="font-size: 40px">
            Регламентирующие документы
        </div>
    </div>
{% endblock %}