{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="card border-0" style="height: 456px">
        <img src="{% static 'img/main_poster.jpg' %}" style="height: 456px" alt="">
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="row text-md-center">
                «Студенческое самоуправление» — это открытый конкурс для руководителей нового поколения. Не упустите
                возможность попасть в сообщество лидеров, которые определят будущее России.
            </div>
            <div class="text-center font-weight-bold mb-4 mt-2" style="font-size: 40px">
                Новости
            </div>

        </div>
    </div>
{% endblock %}